.squarebox {
	font-family:arial;
	width: 100%;
	text-align: center;
	overflow: hidden; 
}
.squareboxgradientcaption {
	text-align:center;
	color: #ffffff;
	padding: 5px;
	background: #333333 url(../img/bh.png) repeat-x;
}
.squareboxcontent {
	text-align:left;
	padding: 5px;
	overflow: hidden;
	border-top: solid 1px #336699; 
	background-color: #F0F4F5;
	width: 100%;
	height: auto;
	float:left;
	border-top: 0px solid #606060;
	border-bottom: 1px solid #E6E6E6;
	border-left: 0px solid #606060;
	border-right: 0px solid #606060;
}



