
/*stili Header Bar-----------------------------------------*/
.header_bar{
	margin-top:-8px;
	border-bottom: 2px double #B0B0B0 ;
	position:relative;
	width:100%;
	height:60px;
	/*background: #333333 url(../img/bh.png) repeat-x;*/

	background: #6F737A; /* old browsers */
	background: -moz-linear-gradient(top, #6F737A 0%, #1A1C26 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6F737A), color-stop(100%,#1A1C26)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6F737A', endColorstr='#1A1C26',GradientType=0 ); /* ie */
}


.header_bar, .header_bar_dx, .header_bar_sx{
	/*background: #333333 url(../img/bh.png) repeat-x;*/
	background: #6F737A; /* old browsers */
	background: -moz-linear-gradient(top, #6F737A 0%, #1A1C26 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6F737A), color-stop(100%,#1A1C26)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6F737A', endColorstr='#1A1C26',GradientType=0 ); /* ie */
}
/*fine stili Header Bar*/

/*stili Header Bar Dx Sx-----------------------------------------*/
.header_bar_dx, .header_bar_sx{
	position:relative;
	margin-top:0px;
	width:8px;
	height:60px;
	border-bottom: 2px double #B0B0B0;
}

.header_bar_dx{
	margin-right:-8px;
	float:right;
}

.header_bar_sx{
	margin-left:-8px;
	float:left;
}
/*fine stili Header Bar Dx SX*/

/*stili Wilocate Icon-----------------------------------------*/
.wilocate_icon{
	margin-top:9px;
	float:left;
	width:100%;
	height:60px;
	vertical-align:middle;
}
/*fine stili Wilocate Icon*/

/*stili Wilocate Icon Text-----------------------------------------*/
.wilocate_icon_text {
	font-family:Arial;
	color: #FFFFFF;
	text-decoration: none;
	font-style:italic;
	font-size:40px;
	margin-left:45%;
}
/*stili fine Wilocate Icon Text*/

/*stili Wilocate Logo Box -----------------------------------------*/
.wilocate_logo_box {
	float:left;
	vertical-align:middle;
	margin-left:10%;
	background: url(../img/wilocate_logo3.png) no-repeat center ;
	width:252px;
	height:53px;
	border: 0px solid transparent;
}
/*stili fine Wilocate Logo Box*/

/*stili Wilocate Logo -----------------------------------------*/
.wilocate_logo {
	float:left;
	vertical-align:middle;
	/*margin-left:10%;*/
	padding-top:10px;
	padding-left:15px;
}
/*stili fine Wilocate Logo*/

/*stili Wilocate Icon Img-----------------------------------------*/
img.wilocate_icon_img{
	width: 104px;
	height: 49px;
	float:right;
	vertical-align:middle;
}
/*fine stili Wilocate Icon Img*/

/*stili Break-----------------------------------------*/
.break {
	height: 20px;
	width:99%;
	font-family:Arial;
	font-size: 9pt;
	color:#3D3D3D;
	padding-left:0px;
	padding-top:5px;
	padding-right:0px;
	padding-bottom:7px;

}

.break_right{
	float:right;
	vertical-align:middle;
	width:55%;
} 
.break_left{
	float:left;
	vertical-align:middle;
	width:43%;
}

.break_right_links{
	float:right;
	vertical-align:middle;
}



.img_properties{
	padding-right:5px;
}

.break a:link {color: #3F8FBA;}
.break a:visited {color: #2200C1;}

/*fine stili Break*/

/*stili Google Map -----------------------------------------*/
.map_canvas1{
	width: 55%;
	height: 480px;
	float:right;
	border: 3px solid #606060;
	font-color: #fff;
	font-family:Times New Roman;
	font-size: 10pt;
	font-weight: bold;
	color: gray;
	font-size: .9em;
	background: url(../img/loading_map.gif) no-repeat center;

}
/*fine stili Google Map*/

/*stili Left Column-----------------------------------------*/
.left_column{
	float:left;
	width: 43%;
	height: 486px;
	border:0px solid red;
}
/*fine stili Left Column*/

/*stili Break2 -----------------------------------------*/
.break2{
	background-color: transparent;
	width: 100%;
	height: 10px;
	float:left;
	border: 0px solid transparent;
}
/*fine stili Break2*/

/*stili Status -----------------------------------------*/
.status1{
	font-family:Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #F0F4F5;
	width: 100%;
	height: 30px;
	float:left;
	border-top: 3px solid #606060;
	border-bottom: 1px solid #E6E6E6;
	border-left: 0px solid #606060;
	border-right: 0px solid #606060;
	padding:5px;
}
/*fine stili Status*/

/*stili Marker Info -----------------------------------------*/
.marker_info1{
	font-family:Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #F0F4F5;
	width: 100%;
	height: 200px;
	float:left;
	border-top: 3px solid #606060;
	border-bottom: 1px solid #E6E6E6;
	border-left: 0px solid #606060;
	border-right: 0px solid #606060;
	padding:5px;
}
/*fine stili Marker Info*/

/*stili Pos Info -----------------------------------------*/
.pos_info1{
	font-family:Arial;
	background-color: #F0F4F5;
	width: 100%;
	height:195px;
	float:left;
	border-top: 3px solid #606060;
	border-bottom: 1px solid #E6E6E6;
	border-left: 0px solid #606060;
	border-right: 0px solid #606060;
	overflow: auto;
	padding:5px;
	text-align:justify;
	font-family:Arial;
	color: #333333;
	font-size: 8pt;
}
/*fine stili Pos Info*/

.footer{
	font-family:Arial;
	margin:0px;
	font-size: 8pt;
	width: 99.2%;
	text-align: center;
	color:#3D3D3D;
	background-color: #F0F4F5;
	border-top: 3px solid #606060;
	border-bottom: 1px solid #E6E6E6;
	border-left: 0px solid #606060;
	border-right: 0px solid #606060;
	overflow: auto;
	padding:5px;
	vertical-align:middle;
	margin-top:50px;
}

